# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm
.idea/

# Environment files
.env
*.env

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Test output
htmlcov/
coverage.xml
.cache/
pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
